
@font-face {
    font-family: "Lifesaver";
    src: url(../LifeSavers-ExtraBold.ttf);
}
* {
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(../img/b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

.title{  
    text-align: center;
    padding-top: 2em;
    font-size: 2.5em;
    color: rgb(14, 116, 156);
    font-family: "Lifesaver";
}
.container-box{
    margin: 80px auto;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    height: 260px;
    background-color: rgba(222, 227, 231, 0.479);
    box-shadow: 0 0 20px -10px;
}
#right{
    float: right;
    padding: 20px;
}

#left{
    float: left;
    padding: 20px;
}

.output {
    text-align: center;
    padding-top: 20px; 
    font-size: 50px;
}

#golf-par{
    color: rgb(211, 151, 39);
}
#golf-strokes{
    color: rgb(40, 52, 156);
}
.nn {
    color: #119c3b;
    text-align: center;
    font-size: 30px;
} 

.btn-con{
    margin-top: 150px;
    text-align: center;
}
button{
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #28a87d;
    background-color: #28a87d;
    width: 120px;
    outline: 0;
}

button:hover{
    border: 1px solid #126e50;
    background-color: #126e50;
}